.title {
  text-align: center;
  color: blue;
}
.image-viewer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1400px;
  margin: auto;
}
.image-viewer__back-next {
  width: 100px;
  height: auto;
}
#back-button {
  opacity: 0.4;
}
.image-viewer__image-container {
  min-width: 600px;
  text-align: center;
}
.image-viewer__image {
  max-width: 600px;
  background: transparent url("/images/loading.gif") no-repeat center;
}
.source-container {
  text-align: center;
}
