.title {
  text-align: center;
  color: blue;
}
.image-viewer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1400px;
  margin: auto;
}
.image-viewer__back-next {
  width: 100px;
  height: 100px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.image-viewer__back-next:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.button-img {
  width: 100%;
  border-radius: 50%;
}
.image-viewer__back-next:hover {
  border: 1px solid #555;
  opacity: 0.85;
}

.image-viewer__back-next:disabled:hover {
  border: 0;
  opacity: 0.4;
}

.image-viewer__image-container {
  min-width: 600px;
  min-height: 500px;
  text-align: center;
  display: flex;
  align-items: center;
  background: transparent url("/images/loading.gif") no-repeat center/20%;
}
.image-viewer__image {
  max-width: 600px;
}
.source-container {
  text-align: center;
}
